#why-us {
  padding: 30px 0;
  background: #004a99;
  display: block; }

#why-us .contenedor {
  background-color: #004a99;
  color: black;
  display: block;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto; }

#why-us .section-header {
  font-weight: 800;
  text-align: center;
  margin: auto;
  color: #ffff;
  width: 100%;
  height: auto;
  display: block; }

#why-us .card .card-body i {
  font-size: 48px;
  padding-top: 15px;
  color: #bfddfe; }

#why-us h3 {
  text-align: center;
  font-size: 40px;
  font-display: block; }

#why-us p {
  padding: 0px;
  margin: 0 0 30px 0;
  font-size: 16px; }

#why-us .choose {
  background-color: #115cad;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  height: 100%;
  max-width: 100%;
  margin: 20px;
  align-items: center;
  justify-content: space-evenly; }

#why-us .card-holder {
  margin: 20px;
  display: flex;
  background-color: #05488f;
  color: black;
  border-radius: 8px;
  justify-content: center;
  justify-items: center;
  text-align: center;
  padding: 10px;
  width: 100%; }

#why-us .card a {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  display: inline-block;
  border-bottom: #00458f solid 2px;
  text-decoration: none; }

#why-us .card-title {
  font-size: 25px;
  justify-content: center;
  color: #0a0a0a; }

#why-us .card-text {
  font-size: 16px;
  justify-content: center;
  color: #0c0c0c;
  display: block; }

#why-us .contador {
  background-color: #00458f solid 2px;
  border: black solid 3px;
  padding-top: 40px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 20px;
  align-items: center;
  text-align: center; }

#why-us .card-body {
  padding-top: 15px;
  align-items: center; }

#why-us .lastcard-body {
  padding-top: 15px;
  align-items: center;
  background-color: #0f3b69; }

#why-us .contador span {
  font-weight: bold;
  font-size: 48px;
  display: block;
  color: #fff; }

#why-us .contador p {
  font-weight: 500px;
  font-size: 16px;
  display: inline-block;
  color: black; }

#why-us .columnas {
  border: 5px;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 50%;
  height: auto;
  margin: 10px;
  align-items: center;
  text-align: center;
  width: 22%; }

#why-us .cuenta-numeros {
  font-weight: bold;
  font-size: 48px;
  display: block;
  color: #fff;
  width: 100%; }

#portfolio {
  padding: 0px;
  margin: 0px;
  display: block;
  position: absolute; }

#portfolio .container {
  margin: 0px;
  background-color: #f1efef;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  display: block;
  margin-right: -15px;
  text-align: center; }

#portfolio .portfolio-imagenes {
  border-radius: 8px;
  background-color: #fcf8e4;
  width: 25%;
  height: 330px;
  padding: 10px;
  position: relative; }

#portfolio .cards-container {
  background-color: #b4b3b3;
  border-bottom: 10px;
  border-right: grey dotted 2px;
  border-top: grey solid 2px;
  color: black;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  flex-basis: auto;
  position: relative; }

#portfolio .portfolio-imagenes {
  display: inline-block;
  border-bottom: 10px;
  border-right: darkgrey solid 2px;
  border-top: darkgray solid 2px;
  width: 310px;
  margin-left: 5px;
  margin-top: 5px;
  align-content: space-between;
  padding: 10px;
  border-radius: 5px; }

#portfolio ul .lista1 {
  font-size: 20px;
  background-color: #eae4f0;
  border-color: gray solid 3px;
  border-radius: 30%;
  color: #3432a5;
  margin: 15px 15px 15px 15px;
  display: inline-block;
  align-items: space-evenly;
  margin-bottom: 0px;
  list-style: none;
  width: 10%;
  height: 40%;
  border-bottom: darkgray solid 3px; }

#portfolio h3 {
  font-size: 40px; }

#portfolio .portfolio.header {
  align-items: center;
  display: block;
  text-align: center; }

#portfolio .elipses {
  position: relative;
  margin-bottom: 30px;
  height: 50px; }

#portfolio h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 14px;
  padding-bottom: 0; }

img {
  max-width: 320px;
  max-height: 300px; }

@impo;
