// cambios generales, mobile first //
@import "../abstract/mixins";

footer {
    background-color: $why-choose-us-bg;
    color: $blanco;
    font-family: $titulos; 
    margin: 0;
    padding: 0;
    h3 {
        text-transform: uppercase;
        font-size: medium;
        font-weight: bold;
        margin: 30px 0 30px;
    }
    .footer-contenido {
        padding: 60px 20px 0;
    }
    .primera-parte {
        h2 {
            font-weight: lighter;
            letter-spacing: 0.2em;
            font-size: xx-large;
        }
    }
    .segunda-parte {  
        .links-page {
            a {
                display: flex;
                flex-direction: column;
                text-decoration: none;
                color: $blanco;
                margin: 20px 0 30px;
            }
        }
    }
    .tercera-parte {
        p {
            margin: 10px s0 10px;
        } 
        .logo-redsocial {
            margin: 25px 0 25px;
            
            .logo {
                text-align: center;
                font-size: 19px;
                line-height: 2;
                padding: 2px 2px;
                margin-right: 8px;
                display: inline-block;
                border-radius: 50%;
                height: 35px;
                width: 35px;
                background-color: $celeste;
                color: $blanco;
            }
        }
    }
    .cuarta-parte {
        form {
            display: flex;
        input {
            width: 90%;
            height: 25px;
        }
        button {
            width: 200px;
            border: none;
            background-color: $celeste;
            color: $blanco;
        }
     }
    }
    .parte-final {
        height: 100px;
        background-color: $azul;
        p {
           padding: 30px 80px 10px 80px;
        }
    } // empieza media query //
    @media (min-width: 576px) {
        .footer-contenido {
            padding: 60px 80px 0;
        }
    }
    @media (min-width: 768px) {
        .footer-contenido {
            display: flex;
            flex-wrap: wrap;
            max-width: 750px;
            margin-left: 55px;
        .primera-parte {
            flex: 0 0 50%;
            p {
                padding-right: 15px;
            }
        }
        .segunda-parte {
            flex: 0 0 50%;
        }
        .tercera-parte {
            flex: 0 0 50%;
        }
        .cuarta-parte {
            flex: 0 0 50%;
         }
         } 
    //achicar los tamaños
    //sacar los bordes blancos de la pagina y centrar el footer
    }
        //centrar todo, buscar porque no funciona el justify center ni align items
        @media (min-width: 992px) {
            .footer-contenido {
               max-width: 960px;
               flex-wrap: nowrap;
               padding: 35px;
               margin: 0;
               .primera-parte {
                @include footer-media-992 ($max-width: 300px); /////aqui hay algo mal///
                p {
                    padding-right: 0;
                }
            }
            .segunda-parte {
                @include footer-media-992;
            }
            .tercera-parte {
                @include footer-media-992;
            }
            .cuarta-parte {
                @include footer-media-992;
             }
             }
             .parte-final {
                     display: flex;
                     justify-content: center;
                 }
                }
            }  
    