//Fonts

$parrafos: “Open Sans”, sans-serif;
$titulos: “Montserrat”, sans-serif;

//Colores

// Generales
$blanco: #FFF;
$texto-gris: #283d50;
$azul: #004289;
$celeste: #007bff;
$celeste-mas-claro: #74b5fc;

// Why choose us section
$why-choose-us-bg: #004a99;
$icon-color: #bfddfe;
$cards-bg: #00458f;

//- Parte de Sofi - Contact us + Footer
$size-repeat: 20px;
$flex-position-repeat: 0 0 50%;

